.app {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 80%;
  width: 100%;
}

.login-button {
  border-radius: 50px;
  font-size: 2em;
  height: 100px;
  width: 200px;
}